@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --react-color: #61dafb;
}

/* CSS reset */
*,
*::before,
*::after {
  outline: none;
}

/* scrollbar reset */
*::-webkit-scrollbar {
  display: none;
}

/* React color variables */
.color-react {
  color: var(--react-color);
  transition: 0.25s ease;
}
.color-react-hover:hover {
  color: var(--react-color);
}
.border-react {
  border-color: var(--react-color);
}
.border-react-active:focus,
.border-react-active:active {
  border-color: var(--react-color);
}
.show-child-on-hover:hover > div {
  opacity: 1;
}
.bg-react-before-after::before,
.bg-react-before-after::after {
  background-color: var(--react-color);
}

/* Radio input styles */
.radio > label::before {
  content: "";
  position: absolute;
  width: 1rem;
  height: 1rem;
  border: 2px solid #bbb;
  border-radius: 50%;
  top: 50%;
  transform: translateY(-40%);
  left: -10%;
  margin-left: 1rem;
  transition: 75ms;
}

.radio > input[type="radio"]:checked + label {
  color: var(--react-color);
}

.radio > input[type="radio"]:checked + label::before {
  border: 2px solid var(--react-color);
  background-color: var(--react-color);
}

.radio > input[type="radio"] {
  display: none;
}

.radio > label {
  margin-left: 1.65rem;
  font-size: 0.95em;
}

.radio:hover > label::before {
  border: 2px solid var(--react-color);
}

code {
  display: flex;
  flex-direction: column;
  gap: 0.25rem;
}
